/************HEADER
*/
@import url('https://fonts.googleapis.com/css?family=Palanquin:400,600,700');

$mobile_s: 320px;
$mobile_l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop_l: 1440px;
$laptop_4k: 2560px;
html, body {
  font-family: "Palatino Linotype", 'Palatino', 'Palanquin', sans-serif !important;
  font-size: 16px;
}

p {
  text-align: justify;
}

img{
  max-width: 100%;
}
.section-overlay, .page-header-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  color: #fff;
  padding: 0;
  margin: 0;
}

a.site-logo {
  border-top: 1px solid;
  padding: 15px 10px;
  text-transform: uppercase;
}

header.site-header {
  min-height: 100vh;
}

header.site-header, .page-header {
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;

  a {
    color: #fff;
  }

  a:hover {
    color: #f1bc00;
    opacity: 1;
    text-decoration: none;
  }

  .elaw-header-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
  }

  .header-bar {
    padding-top: 40px;
    border-bottom: solid 2px #a9aaad;
    opacity: 0.8;
  }

  nav ul {
    display: block;
    padding: 0;
  }

  nav ul li {
    list-style-type: none;
    display: inline-block;
  }

  nav ul li a {
    line-height: 18px;
    padding: 15px 10px;
  }

  nav ul li a:hover {
    border-bottom: 5px solid;
  }

  .banner-section {
    padding: 23% 0;

    h1 {
      font-size: 4em;
      line-height: 1.5em;
    }

    .description {
      max-width: 50%;
      font-size: 1.2em;
      padding: 30px 0 0 5%;
    }

    .elaw-link {
      width: 100%;
      padding: 30px 0;

      a {
        display: inline-block;
        background-color: rgba(241, 188, 0, 0.6);
        padding: 0 10px;
        text-transform: uppercase;
      }

      img {
        width: 100px;

      }
    }
  }
}

/////////////////////////////////
////////// ABOUT US SECTION ////
////////////////////////////////
.about-us-section {
  padding: 70px 0;
  @media only screen and (max-width: $mobile_l) {
    padding: 50px 20px;

  }

  .section-title {
    position: relative;
    @media only screen and (max-width: $mobile_l) {
      padding: 15px;
    }

    h4 {
      display: block;
      max-width: 60%;
      float: left;
      padding: 0 10px;
    }

    .grey-dots {
      width: 10em;
      height: 10em;
      background-repeat: no-repeat;
      position: absolute;
      left: 4px;
      top: -40px;
    }

    .text-yellow-line {
      width: 60px;
      height: 10px;
      border-bottom: solid 2px #F1BC00;
      line-height: 1em;
      padding: 7px;
      display: block;
      float: left;
    }

    @media only screen and (max-width: $mobile_l) {
      .grey-dots {
        height: 100%;
        max-width: 100%;
        background-repeat: no-repeat;
        position: absolute;
        left: 60px;
        top: -1em;
      }

      h4 {
        max-width: 85%;
        width: calc(100% - 70px);
      }
    }
  }

  .about-us-description {
    text-align: justify;

    a {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 15px auto;
      padding: 10px 15px;
      border: solid 1px #000;
      text-transform: uppercase;
      color: #000;
    }

    @media only screen and (min-width: $tablet) {
      column-count: 2;
      border-left: solid 3px #F1BC00;
      display: inline-block;
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-gap: 5em;
      padding-left: 5em;
    }
  }
}

/////////////////////////////
//////// PRACTICE AREA /////
////////////////////////////
.practice-section {
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .practice-item {
    img {
      width: auto;
      height: 25%;
      padding: 5px 0;
    }

    h4:after {
      border-bottom: solid 2px #F1BC00;
      width: 40px;
      content: ' ';
      height: 2px;
      line-height: 1em;
      display: block;
      padding: 3px 0;
    }

    p {
      text-align: justify;
      word-wrap: normal;
      max-width: 85%;
    }

  }

}

.attorneys-section {
  margin: 60px auto;

  .attorneys-introduction {
    position: relative;

    .section-title .text-yellow-line {
      padding-top: 5%;
    }

    .description {
      border-left: solid 2px #F1BC00;

      p {
        margin-top: 10px;
      }
    }

    a {
      color: #A6A6A6;
      border: solid 1px;
      padding: 6px 60px;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 auto;
      position: absolute;
      white-space: nowrap;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    a:hover {
      color: #F1BC00;
    }
  }

  .attorney-item {
    img {
      max-width: 100%;
      z-index: -1;
      text-align: center;
      margin: 0 auto;
      display: block;
    }

    .attorney-csv {
      border: solid 2px #000;
      padding: 20px 20px;

      h4 {
        text-align: center;
      }

      .position {
        text-align: center;
        color: #919191;
        padding: 10px;
      }

      .position:after, .description:after {
        border-bottom: solid 1px #919191;
        content: ' ';
        height: 5px;
        width: 50px;
        padding: 5px 35px;
        display: block;
        text-align: center;
        margin: 0 auto;
      }

      .social-links {
        text-align: center;

        a {
          color: #000;
          border: solid 1px #000;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          margin-right: 5px;

          i.fa-facebook-f {
            padding: 5px 8px;
          }

          i.fab.fa-twitter {
            padding: 6px 5px;
          }

          i.fab.fa-google-plus-g {
            padding: 5px 3px;
          }
        }
      }
    }
  }

  .view-more {
    color: #000;
    border: solid 1px #000;
    padding: 10px 50px;
    margin: 20px auto;
    text-transform: uppercase;
    text-decoration: none;
    min-width: 250px;
    text-align: center;
  }
}

.experience-section {

  .section-overlay {
    padding: 100px 0;

    h2:after {
      border-bottom: solid 2px #F1BC00;
      width: 100px;
      content: ' ';
      height: 2px;
      line-height: 1em;
      display: block;
      text-align: center;
      margin: 20px auto;
    }

    a {
      border: solid 2px;
      margin: 30px auto;
      display: block;
      max-width: 250px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      padding: 10px;
      white-space: nowrap;
    }
  }
}

.blog-section {
  margin: 60px auto;

  h2 {
    margin: 50px auto;
  }

  a {
    display: block;
    margin: 15px auto;
    color: #000;
    text-decoration: none;
  }

  img {
    min-width: 100%;
    object-fit: cover;
    height: 250px;
  }

  span {
    color: #a9a9a9;
    text-transform: capitalize;
  }

}


//////////////////////////////
////////////contact-us-section
/////////////////////////////
.contact-us-section {
  color: #fff;

  .section-overlay {
    padding: 100px 0;
    background-color: rgba(5, 19, 47, 0.7);
  }

  .elaw-contact-form {
    span, div {
      width: 100%;
      margin-top: 15px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      border: solid 1px #000;
    }

    input[type=submit] {
      width: 100%;
      background-color: transparent;
      color: #fff;
      border: solid 1px;
      padding: 15px 0;
      text-transform: uppercase;
    }
  }
}

////////////////////////////
////////// FOOTER /////////
///////////////////////////
footer.site-footer-wrap {
  background-color: #000;
  color: #fff;
  padding: 100px 0 20px;

  a {
    color: #fff;
  }

  .elaw-footer-widget-title {
    color: #F1BC00;
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  .footer-bar {
    margin: 100px auto 10px;
    display: block;
    text-align: center;
  }

  .copyright.text-center {
    border-top: solid 2px rgba(255, 255, 255, 1);
    padding-top: 15px;
    opacity: 0.5;
    font-size: 0.8em;
  }
}

//////////////////////////////////
////// SINGLE PAGE//////////////
////////////////////////////////

.page-title {
  padding: 25% 0 3em 0;
}